<?xml version="1.0"?>
<config>
    <modules>
        <Raveinfosys_Showresponse>
            <version>0.1.0</version>
        </Raveinfosys_Showresponse>
    </modules>
    <frontend>
        <routers>
            <showresponse>
                <use>standard</use>
                <args>
                    <module>Raveinfosys_Showresponse</module>
                    <frontName>showresponse</frontName>
                </args>
            </showresponse>
        </routers>
        <layout>
            <updates>
                <showresponse>
                    <file>showresponse.xml</file>
                </showresponse>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<showresponse>
				<use>admin</use>
				<args>
					<module>Raveinfosys_Showresponse</module>
					<frontName>showresponse</frontName>
				</args>
			</showresponse>
        </routers>
    </admin>
    <adminhtml>
	
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Raveinfosys_Showresponse>
							<title>Showresponse Module</title>
							<sort_order>10</sort_order>
						</Raveinfosys_Showresponse>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<showresponse>
					<file>showresponse.xml</file>
				</showresponse>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <showresponse>
                <class>Raveinfosys_Showresponse_Model</class>
                <resourceModel>showresponse_mysql4</resourceModel>
            </showresponse>
            <showresponse_mysql4>
                <class>Raveinfosys_Showresponse_Model_Mysql4</class>
                <entities>
                    <showresponse>
                        <table>showresponse</table>
                    </showresponse>
                </entities>
            </showresponse_mysql4>
        </models>
        <resources>
            <showresponse_setup>
                <setup>
                    <module>Raveinfosys_Showresponse</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </showresponse_setup>
            <showresponse_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </showresponse_write>
            <showresponse_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </showresponse_read>
        </resources>
        <blocks>
            <showresponse>
                <class>Raveinfosys_Showresponse_Block</class>
            </showresponse>
        </blocks>
        <helpers>
            <showresponse>
                <class>Raveinfosys_Showresponse_Helper</class>
            </showresponse>
        </helpers>
    </global>
</config>