<?xml version="1.0"?>
<config>
	<modules>
		<Wizkunde_ConfigurableBundle>
			<version>1.0</version>
		</Wizkunde_ConfigurableBundle>
	</modules>
	<global>
		<models>
        	<configurablebundle>
        		<class>Wizkunde_ConfigurableBundle_Model</class>
        	</configurablebundle>
        	<bundle_mysql4>
        		<rewrite>
        			<option_collection>Wizkunde_ConfigurableBundle_Model_Bundle_Mysql4_Option_Collection</option_collection>
        		</rewrite>
        	</bundle_mysql4>
        	<cataloginventory>
        		<rewrite>
        			<stock_status>Wizkunde_ConfigurableBundle_Model_CatalogInventory_Stock_Status</stock_status>
        		</rewrite>
        	</cataloginventory>
        	<catalog>
        		<rewrite>
        			<layer>Wizkunde_ConfigurableBundle_Model_Catalog_Layer</layer>
        		</rewrite>
                <rewrite>
                    <product_type_configurable>Wizkunde_ConfigurableBundle_Model_Catalog_Type_Configurable</product_type_configurable>
                </rewrite>
                <rewrite>
                    <product_type_simple>Wizkunde_ConfigurableBundle_Model_Catalog_Type_Simple</product_type_simple>
                </rewrite>
        	</catalog>
        	<catalogsearch>
        		<rewrite>
        			<layer>Wizkunde_ConfigurableBundle_Model_CatalogSearch_Layer</layer>
        		</rewrite>
        	</catalogsearch>
        	<bundle>
        		<rewrite>
        			<product_type>Wizkunde_ConfigurableBundle_Model_Bundle_Product_Type</product_type>
                    <product_price>Wizkunde_ConfigurableBundle_Model_Bundle_Product_Price</product_price>
        		</rewrite>
        	</bundle>
            <checkout>
                <rewrite>
                    <cart>Wizkunde_ConfigurableBundle_Model_Checkout_Cart</cart>
                </rewrite>
            </checkout>
		</models>
        <blocks>
        	<configurablebundle>
        		<class>Wizkunde_ConfigurableBundle_Block</class>
        	</configurablebundle>
        	<bundle>
        		<rewrite>         
                    <adminhtml_sales_order_view_items_renderer>Wizkunde_ConfigurableBundle_Block_Bundle_Adminhtml_Sales_Order_View_Items_Renderer</adminhtml_sales_order_view_items_renderer>
                    <sales_order_items_renderer>Wizkunde_ConfigurableBundle_Block_Sales_Order_Items_Renderer</sales_order_items_renderer>
        			<catalog_product_view_type_bundle>Wizkunde_ConfigurableBundle_Block_Catalog_Product_View_Type_Bundle</catalog_product_view_type_bundle>
                    <catalog_product_view_type_bundle_option_radio>Wizkunde_ConfigurableBundle_Block_Catalog_Product_View_Type_Bundle_Option_Radio</catalog_product_view_type_bundle_option_radio>
                    <catalog_product_view_type_bundle_option_checkbox>Wizkunde_ConfigurableBundle_Block_Catalog_Product_View_Type_Bundle_Option_Checkbox</catalog_product_view_type_bundle_option_checkbox>
                    <catalog_product_view_type_bundle_option_select>Wizkunde_ConfigurableBundle_Block_Catalog_Product_View_Type_Bundle_Option_Select</catalog_product_view_type_bundle_option_select>
                    <catalog_product_view_type_bundle_option_multi>Wizkunde_ConfigurableBundle_Block_Catalog_Product_View_Type_Bundle_Option_Multi</catalog_product_view_type_bundle_option_multi>
                    <adminhtml_catalog_product_edit_tab_bundle_option_search_grid>Wizkunde_ConfigurableBundle_Block_Bundle_Adminhtml_Catalog_Product_Edit_Tab_Bundle_Option_Search_Grid</adminhtml_catalog_product_edit_tab_bundle_option_search_grid>                    
                </rewrite>
        	</bundle>            
        </blocks>
        <helpers>            
            <bundle>
                <rewrite>    
                    <catalog_product_configuration>Wizkunde_ConfigurableBundle_Helper_Catalog_Product_Configuration</catalog_product_configuration>
                </rewrite>
            </bundle>            
        </helpers>
		<catalog>
			<product>
				<type>
					<bundle>
						<allowed_selection_types>
							<configurable />
						</allowed_selection_types>
					</bundle>
				</type>
			</product>
		</catalog>
	</global>
    <frontend>
        <routers>
            <configurablebundle>
                <use>standard</use>
                <args>
                    <module>Wizkunde_ConfigurableBundle</module>
                    <frontName>wizbundle</frontName>
                </args>
            </configurablebundle>
        </routers>
        <layout>
             <updates>
                  <configurablebundle>
                        <file>configurablebundle.xml</file>
                  </configurablebundle>
             </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <configurablebundle>
                                            <title>Configurable Bundle</title>
                                            <sort_order>50</sort_order>
                                        </configurablebundle>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
