.bundle-info {
    display: block;
}

.bundle-info-left { }

.bundle-info-right { }

.bundle-title, .bundle-description {
    width: 100%;
}


.bundle-option {
    padding: 10px 0;
}

.bundle-option:last {
    border-bottom: none;
}

.bundle-options, .bundle-option-qty {}

.bundle-options label {
    display: block;
}

.bundle-options select {}

.product-options {}

.option-required {
    float: left;
    clear: right;
    color: #FF0000;
}

.selection-name {
    padding: 10px 0;
}

.loading {
    opacity: 0.5;
}

.out-of-stock-warning {
    margin: 5px 0;
    background-image: none !important;
    padding: 8px 8px 2px 8px !important;
}

.hidden {
    display: none !important;
}
