<?xml version="1.0"?>
<config>
    <modules>
        <Komplizierte_ManaCategory>
            <version>0.1.0</version>
        </Komplizierte_ManaCategory>
    </modules>
    <global>
        <models>
            <komplizierte_manacategory>
                <class>Komplizierte_ManaCategory_Model</class>
                <resourceModel>komplizierte_manacategory_resource</resourceModel>
            </komplizierte_manacategory>
            <komplizierte_manacategory_resource>
                <class>Komplizierte_ManaCategory_Model_Resource</class>
            </komplizierte_manacategory_resource>
            <mana_filters>
                <rewrite>
                    <filter_category>Komplizierte_ManaCategory_Model_Filters_Filter_Category</filter_category>
                </rewrite>
            </mana_filters>
            <catalog>
                <rewrite>
                    <category>Komplizierte_ManaCategory_Model_Catalog_Category</category>
                </rewrite>
            </catalog>
        </models>
        <blocks>
            <komplizierte_manacategory>
                <class>Komplizierte_ManaCategory_Block</class>
            </komplizierte_manacategory>
        </blocks>
        <helpers>
            <komplizierte_manacategory>
                <class>Komplizierte_ManaCategory_Helper</class>
            </komplizierte_manacategory>
        </helpers>
    </global>
</config>