<?xml version="1.0"?>
<config>
    <modules>
        <Komplizierte_RetailRocket>
            <version>0.1.0</version>
        </Komplizierte_RetailRocket>
    </modules>
    <global>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <Komplizierte_RetailRocket_Add>
                        <class>Komplizierte_RetailRocket_Model_Observer</class>
                        <method>insertCode</method>
                        <type>model</type>
                    </Komplizierte_RetailRocket_Add>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <models>
            <komplizierte_retailrocket>
                <class>Komplizierte_RetailRocket_Model</class>
                <resourceModel>komplizierte_retailrocket_resource</resourceModel>
            </komplizierte_retailrocket>
            <komplizierte_retailrocket_resource>
                <class>Komplizierte_RetailRocket_Model_Resource</class>
            </komplizierte_retailrocket_resource>
        </models>
        <blocks>
            <komplizierte_retailrocket>
                <class>Komplizierte_RetailRocket_Block</class>
            </komplizierte_retailrocket>
        </blocks>
        <helpers>
            <komplizierte_retailrocket>
                <class>Komplizierte_RetailRocket_Helper</class>
            </komplizierte_retailrocket>
        </helpers>
        <resources>
            <komplizierte_retailrocket_setup>
                <setup>
                    <module>Komplizierte_RetailRocket</module>
                </setup>
            </komplizierte_retailrocket_setup>
        </resources>
        <events>
            <make_yml_generate>
                <observers>
                    <makegymlwikimart>
                        <type>singleton</type>
                        <class>komplizierte_retailrocket/observer</class>
                        <method>startGenerateYml</method>
                    </makegymlwikimart>
                </observers>
            </make_yml_generate>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <kmplzt_retailrocket>
                    <file>kmplzt/retailrocket.xml</file>
                </kmplzt_retailrocket>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <retailrocket>
                    <file>komplizierte_retailrocket.xml</file>
                </retailrocket>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <retailrocket before="Mage_Adminhtml">Komplizierte_RetailRocket_Adminhtml</retailrocket>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <namespace_module>
                <schedule>
                    <cron_expr>*/50 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>komplizierte_retailrocket/observer::startGenerateYml</model>
                </run>
            </namespace_module>
        </jobs>
    </crontab>
</config>