<?xml version="1.0"?>
<config>
    <modules>
        <Komplizierte_CustomerCallbacks>
            <version>0.1.0</version>
        </Komplizierte_CustomerCallbacks>
    </modules>
    <global>
        <blocks>
            <komplizierte_customercallbacks>
                <class>Komplizierte_CustomerCallbacks_Block</class>
            </komplizierte_customercallbacks>
        </blocks>
        <helpers>
            <komplizierte_customercallbacks>
                <class>Komplizierte_CustomerCallbacks_Helper</class>
            </komplizierte_customercallbacks>
        </helpers>
        <models>
            <komplizierte_customercallbacks>
                <class>Komplizierte_CustomerCallbacks_Model</class>
                <resourceModel>komplizierte_customercallbacks_resource</resourceModel>
            </komplizierte_customercallbacks>
            <komplizierte_customercallbacks_resource>
                <class>Komplizierte_CustomerCallbacks_Model_Resource</class>
                <entities>
                    <callbacks>
                        <table>customer_callbacks</table>
                    </callbacks>
                </entities>
            </komplizierte_customercallbacks_resource>
        </models>
        <resources>
            <komplizierte_customercallbacks_setup>
                <setup>
                    <module>Komplizierte_CustomerCallbacks</module>
                </setup>
            </komplizierte_customercallbacks_setup>
        </resources>
        <template>
            <email>
                <callback_notification_email_template module="komplizierte_customercallbacks">
                    <label>Customer Callbacks Notification Template</label>
                    <file>callback_notification.html</file>
                    <type>html</type>
                </callback_notification_email_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <customercallbacks before="Mage_Adminhtml">Komplizierte_CustomerCallbacks_Adminhtml</customercallbacks>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <komplizierte_customercallbacks>
                    <file>komplizierte_customercallbacks.xml</file>
                </komplizierte_customercallbacks>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <komplizierte_customercallbacks>
                    <file>komplizierte_customercallbacks.xml</file>
                </komplizierte_customercallbacks>
            </updates>
        </layout>
        <routers>
            <customercallbacks>
                <use>standard</use>
                <args>
                    <module>Komplizierte_CustomerCallbacks</module>
                    <frontName>customercallbacks</frontName>
                </args>
            </customercallbacks>
        </routers>
    </frontend>
</config>