<?xml version="1.0"?>
<config>
    <modules>
        <Komplizierte_Unisender>
            <version>0.1.0</version>
        </Komplizierte_Unisender>
    </modules>
    <global>
        <models>
            <komplizierte_unisender>
                <class>Komplizierte_Unisender_Model</class>
            </komplizierte_unisender>
        </models>
        <blocks>
            <komplizierte_unisender>
                <class>Komplizierte_Unisender_Block</class>
            </komplizierte_unisender>
        </blocks>
        <helpers>
            <komplizierte_unisender>
                <class>Komplizierte_Unisender_Helper</class>
            </komplizierte_unisender>
        </helpers>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <new_order_send_sms_notification>
                        <type>singleton</type>
                        <class>Komplizierte_Unisender_Model_Observer</class>
                        <method>sendSMSNewOrderNotification</method>
                    </new_order_send_sms_notification>
                </observers>
            </checkout_submit_all_after>
			<sales_order_save_after>
				<observers>
					<update_status_order_send_sms_notification>
						<type>singleton</type>
						<class>Komplizierte_Unisender_Model_Observer</class>
						<method>sendSmsUpdateStatusOrderNotification</method>
					</update_status_order_send_sms_notification>
				</observers>
			</sales_order_save_after>
			<customer_register_success>
				<observers>
					<send_new_user_to_subscribe>
						<type>singleton</type>
						<class>Komplizierte_Unisender_Model_Observer</class>
						<method>sendNewUserToSubscribe</method>
					</send_new_user_to_subscribe>
				</observers>
			</customer_register_success>
        </events>
    </global>
</config>